@background: #ebebeb;
@orange: #E67410;

body {
  margin: 30px 40px;
  padding: 0;
  background-color: @background;
  font-family: 'Helvetica';
  font-size: '16px'
}

h1 {
  color: @orange;
  font-size: 24px;
}

h2 {
  color: @orange;
  font-size: 18px;
}

.container {
  margin: 20px;
}

.radio-button-wrapper,
.item-view-wrapper {
    width: 100%;
    float: left;
    margin: 10px 0px;
}

.item-view-wrapper {
  max-height: 450px;
  min-height: 450px;
  overflow-y: scroll;
  border: 6px solid #ccc;
  background: #f2f2f2;
  border-radius: 5px;

  .item-view-container {
    padding: 10px 15px;
    border-bottom: 1px dotted #999;

    h2 {
      padding: 0px 10px;
    }

    span {
      color: #999;
      size: 14px;
      padding: 0px 10px;
    }
  }
  .item-view-container:hover {
    background: #f9f9f9;
  }
}

.item-view-wrapper::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
.item-view-wrapper::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.radio-input-wrapper {
  float:left;
  margin-right: 10px;

  label {
    margin-left: 5px;
  }
}

.add-item-view-wrapper {
  float: left;
  width: 94%;
  border-radius: 5px;
  background: #C8CBCC;
  padding: 2% 3%;

  h2 {
    margin-top: 0;
  }
}

.text-input {
  margin-right: 10px;
  height: 30px;
  width: 200px;
  padding: 5px;
  border-radius: 5px;
}

.text-input:focus {
  outline: none;
}
